{{!< default}}
<main class="content" role="main">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="active"><a href="/#getting-started">Getting Started</a></li>
            <li><a href="/#post-basics">Post Basics</a></li>
            <li><a href="/#migrating-to-ghost">Migrate to Ghost</a></li>
            <li><a href="/#finding-and-uploading-a-theme">Find/Upload Theme</a></li>
            <li><a href="/#backing-up-ghost">Backing Up Ghost</a></li>
            <li><a href="/#further-blog-customizations">Blog Customizations</a></li>
            <li><a href="/#theme-basics">Theme Basics</a></li>
            <li><a href="/#example-theme-changes">Example Theme Changes</a></li>
            <li><a href="/#more-information">More Information</a></li>
            <li><a href="/#extras">Extras</a></li>
        </ul>
    </div>
    <br style="clear:both">
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-538bfb5b653004cb"></script>
    <div class="addthis_sharing_toolbox"></div>

    <div class="error-page">
    	<h1>Sorry, we cannot find what you are looking for.</h1>
    	<p>Sorry about that! Please head to the <a href="/">home page</a> to see our lists of post, or check out some of our most popular ones below to help find what you are looking for</p>
    	<ul>
    		<li class="error-page-posts"><a href="/how-to-add-a-menu-to-your-ghost-blog">How to Add a Menu to Your Ghost Blog</a></li>
    		<li class="error-page-posts"><a href="/best-free-ghost-themes">Best Free Ghost Themes</li>
    		<li class="error-page-posts"><a href="/how-to-add-an-image-to-your-ghost-blog-post">How to Add an Image to Your Ghost Blog</a></li>
    		<li class="error-page-posts"><a href="/how-to-publish-a-page-on-your-ghost-blog">How to Publish a Static Page</a></li>
    		<li class="error-page-posts"><a href="/how-to-enable-comments-on-a-ghost-blog">How to Enable Comments on Ghost</a></li>
    </div>

</main>