{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

<main class="content" role="main">

<div class="wrapper flex-wrapper">
    <div id="content" class="flex-content theme-content">
        {{!-- {{content}} --}}
        <h1 class="center">Where should you host?</h1>
        <div class="flex">
            <div class="flex-vertical">
                <img src="">
                <div class="hosting-title">Ghost(Pro)</div>
                <div class="hosting-desc">Ghost(Pro) is far and away the easiest place to host your new Ghost blog.</div>
            </div>
            <div class="flex-vertical">
                <img src="">
                <div class="hosting-title">DigitalOcean</div>
                <div class="hosting-desc">DigitalOcean is one of the cheapest and most flexible places to host your new blog.</div>
            </div>
        </div>
        <h1>Learn the Ghost basics</h1>
        <div class="flex">
            <div class="flex-vertical">
                <img src="">
                <div class="hosting-title">Basic Markdown</div>
                <div class="hosting-desc">Ghost(Pro) is far and away the easiest place to host your new Ghost blog.</div>
            </div>
            <div class="flex-vertical">
                <img src="">
                <div class="hosting-title">Add images to your posts</div>
                <div class="hosting-desc">DigitalOcean is one of the cheapest and most flexible places to host your new blog.</div>
            </div>
            <div class="flex-vertical">
                <img src="">
                <div class="hosting-title">Categorize your posts with tags</div>
                <div class="hosting-desc">DigitalOcean is one of the cheapest and most flexible places to host your new blog.</div>
            </div>
        </div>
        <h1>Move your old blog's data over</h1>
        <div class="flex">
            <div class="flex-vertical">
                <img src="">
                <div class="hosting-title">Wordpress to Ghost</div>
                <div class="hosting-desc">Ghost(Pro) is far and away the easiest place to host your new Ghost blog.</div>
            </div>
            <div class="flex-vertical">
                <img src="">
                <div class="hosting-title">Tumblr to Ghost</div>
                <div class="hosting-desc">DigitalOcean is one of the cheapest and most flexible places to host your new blog.</div>
            </div>
            <div class="flex-vertical">
                <img src="">
                <div class="hosting-title">Blogger to Ghost</div>
                <div class="hosting-desc">DigitalOcean is one of the cheapest and most flexible places to host your new blog.</div>
            </div>
        </div>
        <h1>Find a nice theme</h1>
        <div class="flex">
            <div class="flex-vertical">
                <img src="">
                <div class="hosting-title">All Ghost Themes</div>
                <div class="hosting-desc">Ghost(Pro) is far and away the easiest place to host your new Ghost blog.</div>
            </div>
            <div class="flex-vertical">
                <img src="">
                <div class="hosting-title">Themeforest</div>
                <div class="hosting-desc">DigitalOcean is one of the cheapest and most flexible places to host your new blog.</div>
            </div>
            <div class="flex-vertical">
                <img src="">
                <div class="hosting-title">Ghost Marketplace</div>
                <div class="hosting-desc">DigitalOcean is one of the cheapest and most flexible places to host your new blog.</div>
            </div>
        </div>
        <h1>Learn to edit your theme</h1>
        <div class="flex">
            <div class="flex-vertical">
                <img src="">
                <div class="hosting-title">Theme basics</div>
                <div class="hosting-desc">Ghost(Pro) is far and away the easiest place to host your new Ghost blog.</div>
            </div>
            <div class="flex-vertical">
                <img src="">
                <div class="hosting-title">Enable comments on your blog</div>
                <div class="hosting-desc">DigitalOcean is one of the cheapest and most flexible places to host your new blog.</div>
            </div>
            <div class="flex-vertical">
                <img src="">
                <div class="hosting-title">Add Google Analytics</div>
                <div class="hosting-desc">DigitalOcean is one of the cheapest and most flexible places to host your new blog.</div>
            </div>
        </div>
        <h1>Keep your data safe</h1>
        <div class="flex">
            <div class="flex-vertical">
                <div class="hosting-title">Backup posts from Ghost admin</div>
                <div class="hosting-desc">Ghost(Pro) is far and away the easiest place to host your new Ghost blog.</div>
            </div>
            <div class="flex-vertical">
                <img src="">
                <div class="hosting-title">Backup entire file structure</div>
                <div class="hosting-desc">DigitalOcean is one of the cheapest and most flexible places to host your new blog.</div>
            </div>
        </div>

    </div>
    {{> "sidebar"}}   
</div>
</main>
