{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

<main class="content" role="main">
{{#post}}
	<div class="wrapper flex-wrapper">
	    <div id="content" class="flex-content theme-content">
	    	<article class="{{post_class}}">
		    	<div class="post-wrapper">
		            <div class="post-content">
		            	{{!-- <h1 class="post-title">{{{title}}}</h1> --}}
		            	{{#if image}}
                            <img alt="Page cover image" class="post-img" src="{{image}}">
                        {{/if}}
		        		{{content}}
		        	</div>
		        </div>
	       	</article>
	    </div>
	    {{> "sidebar"}}   
	</div>
{{/post}}
</main>
