/*
 * Sidebar Styles
 */

.flex-sidebar {
    min-width: 300px;
    margin-left: 10px;
    margin-right: 5px;
    // @media (max-width: 900px) {
    //     display: none;
    // }
}

.sidebar-content {
    padding: 10px;
    margin-top: 10px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    p {
        margin: 10px 2.5px;
        line-height: 16px;
        a {
            text-decoration: none;
            font-size: 16px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .sidebar-header {
        padding-bottom: 7px;
        margin-bottom: 5px;
        border-bottom: 1px solid white;
        letter-spacing: .3px;
        text-align: center;
        a {
            text-decoration: none;
        }
    }
}

#optin {
    text-align: center;
    .optin-text {
        line-height: 1.2;
        font-size: 1.7rem;
        font-weight: 400;
        text-align: left;
        margin-bottom: 10px;
        .optin-bold {
            font-size: 18px;
            font-weight: bold;
            color: #66BB6A;
            text-transform: uppercase;
            line-height: 1.1;
        }
    }
    .subscribe-button {
        padding: 10px;
        background-color: #66BB6A;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        color: white;
        font-weight: 500;
    }
}

.sidebar-hr {
    border-top: 1px solid #273338;
    margin: 1em 1em 1em .5em;
}

#sidebar-twitter {
    text-align: center;
    iframe {
        margin: auto;
    }
}

.sidebar-header {
    margin-bottom: 5px;
    font-weight: 400;
}

.guides {
    .guides-list {
        margin-top: 10px;
        p {
            margin: 10px;
            a {
                text-align: left;
                text-decoration: none;
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                font-size: 1.7rem;
                &:hover {
                    color: #2196f3;
                }
            }
        }
    }
}

.sidebar-ebook {
    a {
        text-decoration: none;
    }
    .ebook-text {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 1.7rem;
        text-align: left;
        margin: 15px;
        line-height: 1.2;
    }
    .sidebar-img-container {
        margin: 10px 15% 0 12.5%;
        img {
            width: 100%;
        }
    }
}

#book-image-container {
    width: 90%;
    margin: auto;
    position: relative;
}

.book-image {
    width: 100%;
}

#book-amazon-image {
    position: absolute;
    left: 0;
    width: 100%;
}

.recent-posts {
    margin: 0;
    list-style: none;
    padding: 5px;
    li {
        padding: 5px;
        line-height: 20px;
        a {
            text-decoration: none;
            color: white;
            cursor: pointer;
        }
    }
}


/*
 * Style for email Optins
 */

.large-button {
    width: 100%;
    display: inline-block;
    padding: .75em;
    font-size: 18px;
    background-color: #2f8cde;
    border-radius: 15px;
    text-align: center;
    color: white;
    border: 3px solid #494949;
}

.large-button:hover {
    color: white;
}

// #optin {
//  text-align: center;
//  margin-bottom: 10px;
// }
// #optin input {
//  border: 1px solid #111;
//  width: 80%;
//  font-size: 15px;
//  margin-bottom: 10px;
//  padding: 8px 10px;
//  border-radius: 3px;
//  -moz-border-radius: 3px;
//  -webkit-border-radius: 3px;
//  box-shadow: 0 2px 2px #111;
//  -moz-box-shadow: 0 2px 2px #111;
//  -webkit-box-shadow: 0 2px 2px #111
// }
// .subscribe_button {
//  background: #494949;
//  border: 1px solid #111;
//  color: #fff;
//  cursor: pointer;
//  font-size: 18px;
//  font-weight: bold;
//  padding: 8px 0;
//  text-shadow: -1px -1px #3a060a;
//  width: 100%
// }
// #ck_success_msg {
//  color: white;
//  border: 1px solid white;
// }
// #optin h4 {
//  color: white;
//  font-family: "Open Sans",sans-serif;
// }
// .optin-text {
//  font-family: "Open Sans",sans-serif;
//  font-size: 13px;
//  line-height: 14px;
//  margin-bottom: 10px;
// }
// #mc-embedded-subscribe {
//  margin-left: 0;
//  margin-right: 0;
// }
