.navbar {border-radius: 0;}

/* adjust the color and text shadow to optimize legibility once you have an image set - you can also change the vertical positioning if desired  */
.tagline {
	color: #fff;
	text-shadow: 0 0 10px #000;
}

main.content {font-size: 16px;}
/*.content {min-height: 600px;}*/

html, body {
	height:100%;
}

.main-head {
	position: relative;
    display: table;
    width: 100%;
    
	height: 300px;
	text-align: center;
    
	background-size: cover;
	/*background-image: url("/assets/images/coverimage.jpg");*/
	background-position: center;
	/* background-repeat: no-repeat; */
}

.blog-title {font-family:"Open Sans",sans-serif;font-weight: 100;font-size:10rem;margin:10px auto 10px auto;/* text-shadow: 1px 1px 5px #7b7b7b; */}
.blog-description {font-family:"Open Sans",sans-serif;font-size:20px;/* text-shadow: 1px 1px 1px #7b7b7b; */}

/*Navigation Bar*/
.nav-top, .nav-blog-name {background-color: #494949 !important;margin-bottom: 0 !important;border:none;}
.navbar-default .navbar-nav {font-weight: 300;font-family: 'Open Sans', sans-serif;}
.navbar-default .navbar-nav > li > a {color:white;}
.navbar-brand {font-weight: 300;margin-bottom: 0;font-size:24px;}
.navbar-default .navbar-brand {color:white;font-family: 'Open Sans';letter-spacing: 1px;height:49px;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {background-color: #eee;}
.navbar-default .navbar-toggle .icon-bar {background-color:white;}
.recommend-text {text-align: center;}
.recommend-text h1 {margin-top:0;margin-bottom:20px;color:black;font-weight: 300;}
.nav li a:hover {color:black;}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {color:white;}

#twitter-menu, #facebook-menu {height:50px;}
#twitter-menu a, #facebook-menu a {padding-top:13px;padding-bottom:13px;padding-right:7.5px;padding-left:7.5px;}
#twitter-menu a img, #facebook-menu a img {width:30px;height:24px;}

.sidebar-content {
    border: 3px solid #494949;
    padding: 0;
    margin-top: 10px;
    background-color: #2f8cde;
    border-radius: 25px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.sidebar-content li {
	padding: 5px 15px;
	list-style-type: none;
}

.sidebar-content li:hover {
	background-color: #eee; 

}

.sidebar-content li a {
	
}

.sidebar-content p a {
	color: white;
}

.sidebar-content h4 {
	border-bottom: 1px solid white;
	color: white;
	padding-bottom: 3px;
	letter-spacing: .3px;
}

#side-nav-top {
	border-radius: 24px 24px 0 0;
}

#side-nav-bottom {
	border-radius: 0 0 24px 24px;
}

#sidebar-twitter, #sidebar-facebook {
	width: 13.25em;
	margin: auto;
}

#sidebar-facebook iframe {
	margin: 0;
}

#sidebar-book {
	text-align: center;
	padding: 0 15px;

}

#sidebar-book a {
	color: white;
}
#sidebar-book img {
	max-width: 80%;
	margin-bottom: 15px;
}
.navbar-nav {float:right;margin:0;}

.side-nav li {
	width: 100%;
}

.side-nav li a {
	color: white;
}

#book-image-container {
    width: 90%;
    margin: auto;
    position: relative;
}

.book-image {
	width: 100%;
}

#book-amazon-image {
    position: absolute;
    left: 0;
    width: 100%;
}

/*Index*/

.main-sections {position:relative;font-family:"Open Sans",sans-serif;}
.vertical {}
.site-head-content {color: #2f8cde;/* text-shadow: 5px 5px #000000; */}

.define-header {margin-top: 10px;margin-bottom: 20px;}
.define-content {width:80%; margin:auto; text-align: left;font-size: 16px;line-height: 1.75;max-width: 1000px;}
.define-content a {color:white; text-decoration: underline;}
.sections-header, .define-header {letter-spacing: 2px;font-family: 'Ubuntu', sans-serif;}

.main-after-header {background-color: #2f8cde;text-align: center;padding-top: 15px;color:white;padding-bottom: 10px;font-family:"Open Sans",sans-serif;}
.arrow-down-1 {
	width: 0; 
	height: 0; 
	border-left: 40px solid transparent; 
	border-right: 40px solid transparent;	
	border-top: 30px solid white;
	margin:auto;
}

.arrow-down-2 {
	width: 0; 
	height: 0; 
	border-left: 40px solid transparent; 
	border-right: 40px solid transparent;	
	border-top: 30px solid #2f8cde;
	margin:auto;
}

.start-here {
	position:absolute;
	margin-left: -270px;
	color:black;
	width:250px;
	top: 18px;
}
#new-to-ghost {text-align: center;font-size: 18px;width:150px;}
.start-here img {width:100px;}

.sections {text-align: center;}
.section-posts {text-align: left; width:50%; margin:auto;color:white;margin-bottom: 50px;}

.section-post {
	padding:10px 0 10px 10px; 
	position:relative;
	color:white;
	background-color: #5E5E5E;
	margin-top:5px;
}
.section-post-header {font-weight: 400; font-size:20px;}
.section-post:hover {
	background-color: #2f8cde;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.section-posts a:hover {
	text-decoration: none;
}

.section-post-paragraph {margin-right: 10px;font-weight: 300;}

.section-post-inside {
	padding:0;
	border-top:0;
	width:90%;
}

.section-post-image {
	height:100%;
}

.section-post-image img {
	width:60px;
}

/*Posts*/

.post-content {min-height: 800px;}
.post-title {font-size:48px;text-align: center;}
.post-title-hr {margin-top: 10px;}
.post-menu {float:right;width:220px;margin-top:15px;background-color: #2f8cde;color:white;padding-bottom: 15px;}
.post {max-width: 800px;width:auto;}
.post-content .full-img {margin:0;max-width:100%;}

.post-template .post {
	margin: 25px auto 0 auto;
}

.side-menu-hr {margin:auto;width:90%;}
.side-menu-header {padding-left: 20px;margin-bottom: 5px;}
.side-menu-post {padding-left: 30px;margin-bottom: 0;}

.post-next {width:auto;float:right;margin-bottom:20px;background-color:#57A3E8;}
.post-next-inside p {float:right;vertical-align:middle;margin:0;padding-left:10px;color:white;}
.post-next-img {width:auto;}
.post-next-img img {height:50px;float:right;}

.at-share-tbx-element .at-share-btn {margin: 0 4px;}

#sharing-icons {
	text-align: center;
	padding-bottom: 20px;
}

#twitter-share-post,#facebook-share-post {
	height: 20px;
	display: inline-block;
}

 .github-link {
 	text-align: center;
	padding-bottom: 15px;
}

.github-link a {
	padding: 5px;
	border: 1px solid black;
 }

/*Email List*/

.large-button {
	width: 100%;
	display: inline-block;
	padding: .75em;
	font-size: 18px;
	background-color: #2f8cde;
	border-radius: 15px;
	text-align: center;
	color: white;
	border: 3px solid #494949;
}

.large-button:hover {
	color: white;
}

#optin {
	border: 3px solid #494949;
	/*color: #fff;*/
	padding: 0 15px 20px 15px;
	text-align: center;
	background-color: #2f8cde;
	border-radius: 25px;
	margin-bottom: 10px;
}
#optin input {
	border: 1px solid #111;
	font-size: 15px;
	margin-bottom: 10px;
	padding: 8px 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 2px 2px #111;
	-moz-box-shadow: 0 2px 2px #111;
	-webkit-box-shadow: 0 2px 2px #111
}
#optin input.email { 
	background: #fff url(/assets/images/email.png) no-repeat 10px center; 
	padding-left: 35px; 
	width:80%;
}
#optin input.name { 
	background: #fff url(/assets/images/name.png) no-repeat 10px center; 
	padding-left: 35px; 
	width:80%;
}
#optin input[type="submit"] {
	background: #494949;
	border: 1px solid #111;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	padding: 8px 0;
	text-shadow: -1px -1px #3a060a;
	width: 100%
}
#optin input[type="submit"]:hover {

}
#optin h4 {
	color: white;
	font-family: "Open Sans",sans-serif;
}
.optin-text {
	color: white;
	font-family: "Open Sans",sans-serif;
	font-size: 12px;
	margin-bottom: 10px;
}

/* Announcement Bar */

#announcements-container {
	/*background-color: #bababa;*/
	line-height: 40px;
    height: 42px;
    border-bottom: 2px solid black;
    padding-top: 0;
	background: -webkit-linear-gradient(top, #F0F0F0 0%, black 75%); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#F0F0F0, #e0dddb); /* For Opera 11.1 to 12.0 */
 	background: -moz-linear-gradient(#F0F0F0, #e0dddb); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#F0F0F0 25%, #e0dddb 100%); /* Standard syntax */
}

#nav-announcements {
	border-left: 1px solid white;
}

#nav-announcements li, #announcement-text li {
	border-left: 4px solid #d6d6d6;
}

#nav-announcements li a, #announcement-text li a {
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding-left: 5px;
	padding-right: 5px;
	color: #666666;
	line-height: 40px;
    height: 40px;
    padding-top: 0;
}

#nav-announcements li a:hover {
	background-color: white;
}

#announcement-text li a:hover {
	background: none;
	cursor: default;
}

#announcement-text {
	height: 100%;
}

#announcement-text li {
	text-align: center;
	display: table;
}

#announcement-text li a {
	height: 100%;
	display: table-cell;
	padding: 0;
	width: 100%;
	vertical-align: middle;
	border-right: none;
}

#announcement-text button {
  background-color: #be3912;
  margin-left: 50px;
  border: 0 none;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  padding: 0 22px;
  text-align: center;
  text-decoration: none;
}

#announcement-text button:hover {
	background-color: #e0451a;
}

.announcements-brand {
	width: 45px;
	text-align: center;
	height: 100%;
	padding: 0;
}

.announcements-brand img {
	width: 35px;
	padding-top: 2.5px;
}

#announcement-subscribe {
	height: 30px;
}

.active-site {
	background-color: white;
}


@media (max-width: 1072px) {
	#announcement-text button {
		margin-left: 25px;
	}
}

@media (max-width: 1000px) {
	#announcement-text button {
		margin-left: 5px;
	}

	.navbar-collapse, #announcements-container {
		padding: 0;
	}
}

@media (max-width: 950px) {
	#announcements-container {
		height: 82px;
	}
	.announcements-header {
		display: none;
	}
	#announcement-text {
		border: 1px solid white;
		border-bottom: none;
		width: 100%;
	}

	#announcement-text li {
		width: 100%;
		border-right: 4px solid #d6d6d6;
		height: 100%;
	}

	#announcement-text li a {
		height: 100%;
	}

	#nav-announcements {
		border-right: 1px solid white;
		width: 100%;
	}

	#nav-announcements li {
		width: 25%;
		text-align: center
	}

	#last-announcement-li {
		border-right: 4px solid #d6d6d6;
	}
}

@media (max-width: 767px) {
	#announcements-container {
		display: none;
	}
}

/*Footer*/
.site-footer {padding-top:20px;padding-bottom:20px;margin-top: 0;background-color: #494949;font-family:"Open Sans",sans-serif;color:white;margin-top: 25px;}
.site-footer a {color:white;}
.footer-header {font-size:20px;}
.site-footer p {font-size:16px;font-weight: 100;}
.site-footer a:hover {color:#57A3E8;}
.footer-wrapper {max-width: 260px;margin:auto;}
.footer-hr {margin-top: 25px;margin-bottom:25px;}

/*Error Page*/
.error-page {margin-left: 25px;margin-right: 220px; min-height:800px;}
.error-page h1 {font-size: 40px;}
.error-page p {font-size: 20px}
.error-page ul {padding-top: 25px;font-size: 20px;}


/*Media Queries*/

@media only screen and (max-width: 995px) {
	

	.post-excerpt p, .post-content p {
		font-size: 1.5em;
		line-height: 1.5em;
	}

	p.post-info {
	    font-size: 1.2em;
	}

	#sidebar {
		width: 60%;
		margin: auto;
	}
}

@media only screen and (max-width: 768px) {
	#sidebar {
		width: 80%;
		margin: auto;
	}

	.side-nav {
		width: 100%;
		text-align: center;
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 500px) {
	#sidebar {
		width: 100%;
	}

	h1, h2 {
        font-size: 3rem;
        line-height: 1.1em;
        letter-spacing: -1px;
    }

    h3 {
        font-size: 2.8rem;
    }

    h4 {
        font-size: 2.3rem;
    }
}

