/*
 * Styles for the Navigation Bar
 */
.main-nav-flex {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  list-style-type: none;
  font-size: 16px;
  margin: 0;
  background-color: #494949;
  padding: 0; }
  .main-nav-flex li {
    text-align: center; }
    .main-nav-flex li a {
      color: white;
      text-decoration: none;
      font-weight: 300;
      font-family: 'Open Sans', sans-serif; }
  @media (max-width: 760px) {
    .main-nav-flex {
      padding-top: 0;
      flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
      flex-direction: column;
      -webkit-flex-direction: column;
      background-color: #f6f6f6; } }

.main-brand-flex {
  margin-right: auto;
  margin-left: 10px;
  font-size: 24px; }
  @media (max-width: 850px) {
    .main-brand-flex {
      font-size: 16px;
      margin-left: 5px; } }
  @media (max-width: 760px) {
    .main-brand-flex {
      margin: 0;
      background-color: #494949;
      width: 100%;
      border-radius: 0;
      font-size: 36px;
      padding: 10px 0;
      margin-bottom: 10px; } }

.main-img-flex {
  padding: 0 7.5px;
  align-self: stretch;
  -webkit-align-self: stretch;
  display: flex;
  display: -webkit-flex;
  align-content: center;
  -webkit-align-content: center; }
  .main-img-flex a {
    align-self: center;
    -webkit-align-self: center;
    display: flex;
    display: -webkit-flex; }
    .main-img-flex a img {
      margin: 3px;
      height: 25px;
      align-self: center;
      -webkit-align-self: center; }
  .main-img-flex:hover {
    background-color: white; }
    .main-img-flex:hover a {
      color: black; }
  @media (max-width: 760px) {
    .main-img-flex {
      display: none; } }

.main-link-flex {
  font-family: 'Open Sans';
  font-size: 14px;
  padding: 10px 15px;
  align-self: stretch;
  -webkit-align-self: stretch;
  display: flex;
  display: -webkit-flex;
  align-content: center;
  -webkit-align-content: center;
  justify-content: center;
  -webkit-justify-content: center; }
  .main-link-flex a {
    text-decoration: none;
    align-self: center;
    -webkit-align-self: center; }
  .main-link-flex:hover {
    background-color: white; }
    .main-link-flex:hover a {
      color: black; }
  @media (max-width: 1000px) {
    .main-link-flex {
      padding: 10px; } }
  @media (max-width: 760px) {
    .main-link-flex {
      width: 90%;
      background-color: #494949;
      border-radius: 20px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      font-size: 22px;
      padding: 5px; } }

.navbar-fixed-top {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100; }
  @media (max-width: 760px) {
    .navbar-fixed-top {
      position: relative; } }

/*
 * Announcment Bar Styles
 */
.nav-flex {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  padding: 10px;
  list-style-type: none;
  font-size: 16px;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid black; }
  .nav-flex li {
    text-align: center;
    align-self: stretch;
    -webkit-align-self: stretch;
    display: flex;
    display: -webkit-flex;
    align-content: center;
    -webkit-align-content: center; }
    @media (max-width: 1205px) {
      .nav-flex li a {
        font-size: 12px; } }
  @media (max-width: 760px) {
    .nav-flex {
      display: none; } }

.nav-brand-flex {
  height: 35px;
  width: 35px;
  margin-right: 5px;
  border-left: 0; }
  .nav-brand-flex a img {
    width: 35px; }

.nav-link-flex {
  flex: 1;
  -webkit-flex: 1;
  min-width: 175px;
  border-left: 3px solid white; }
  .nav-link-flex a {
    text-decoration: none;
    flex: 1;
    -webkit-flex: 1;
    align-self: center;
    -webkit-align-self: center;
    font-size: 14px; }
    .nav-link-flex a:hover {
      color: black; }
  .nav-link-flex:hover {
    background-color: white; }
  @media (max-width: 1205px) {
    .nav-link-flex {
      min-width: 120px; } }

.nav-action-flex {
  text-align: center;
  flex: 3 3 450px;
  -webkit-flex: 3 3 450px;
  border-left: 3px solid white; }
  .nav-action-flex a {
    text-decoration: none;
    flex: 1;
    -webkit-flex: 1;
    align-self: center;
    -webkit-align-self: center;
    font-size: 14px; }
    .nav-action-flex a:hover {
      color: black; }
  .nav-action-flex:hover {
    background-color: white; }
  .nav-action-flex button {
    background-color: #be3912;
    margin-left: 30px;
    border: 0 none;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    height: 27.5px;
    padding: 0 22px;
    text-align: center;
    text-decoration: none; }

#nav-announcement {
  background: -webkit-linear-gradient(top, #F0F0F0 0%, black 75%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#F0F0F0, #e0dddb);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#F0F0F0, #e0dddb);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F0F0F0 25%, #e0dddb 100%);
  /* Standard syntax */ }

.active-site {
  background-color: white; }

/*
 * Style for email Optins
 */
.large-button {
  width: 100%;
  display: inline-block;
  padding: .75em;
  font-size: 18px;
  background-color: #2f8cde;
  border-radius: 15px;
  text-align: center;
  color: white;
  border: 3px solid #494949; }

.large-button:hover {
  color: white; }

#optin {
  border: 3px solid #494949;
  text-align: center;
  background-color: #2f8cde;
  border-radius: 15px;
  margin-bottom: 10px; }

#optin input {
  border: 1px solid #111;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 2px 2px #111;
  -moz-box-shadow: 0 2px 2px #111;
  -webkit-box-shadow: 0 2px 2px #111; }

#optin input.email {
  background: #fff url(/assets/images/email.png) no-repeat 10px center;
  padding-left: 35px;
  width: 80%; }

#optin input.name {
  background: #fff url(/assets/images/name.png) no-repeat 10px center;
  padding-left: 35px;
  width: 80%; }

#optin input[type="submit"] {
  background: #494949;
  border: 1px solid #111;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 0;
  text-shadow: -1px -1px #3a060a;
  width: 100%; }

#optin h4 {
  color: white;
  font-family: "Open Sans",sans-serif; }

.optin-text {
  color: white;
  font-family: "Open Sans",sans-serif;
  font-size: 13px;
  line-height: 14px;
  margin-bottom: 10px; }

#mc-embedded-subscribe {
  margin-left: 0;
  margin-right: 0; }

/*
 * Footer Styles
 */
.site-footer {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0;
  background-color: #494949;
  font-family: "Open Sans",sans-serif;
  color: white; }
  .site-footer a {
    color: white; }
    .site-footer a:hover {
      color: #57A3E8; }
  .site-footer p {
    font-size: 16px;
    font-weight: 100;
    margin: 5px; }
  @media (max-width: 550px) {
    .site-footer {
      flex-direction: column;
      -webkit-flex-direction: column; } }

.footer-wrapper {
  flex: 1;
  -webkit-flex: 1; }
  .footer-wrapper .footer-hr {
    margin: 25px; }

.footer-header {
  font-size: 20px;
  font-weight: 300;
  font-family: 'Open Sans'; }

/*
 * Sidebar Styles
 */
.flex-sidebar {
  min-width: 300px;
  margin-left: 10px;
  margin-right: 5px; }
  @media (max-width: 900px) {
    .flex-sidebar {
      display: none; } }

.sidebar-content {
  border: 3px solid #494949;
  padding: 10px;
  margin-top: 10px;
  background-color: #2f8cde;
  border-radius: 15px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif; }
  .sidebar-content p {
    margin: 10px 2.5px;
    line-height: 16px; }
    .sidebar-content p a {
      text-decoration: none;
      font-size: 16px;
      color: white; }
      .sidebar-content p a:hover {
        text-decoration: underline; }
  .sidebar-content .sidebar-header {
    padding-bottom: 7px;
    margin-bottom: 5px;
    border-bottom: 1px solid white;
    color: white;
    letter-spacing: .3px;
    text-align: center; }
    .sidebar-content .sidebar-header a {
      text-decoration: none; }

#sidebar-twitter, #sidebar-facebook {
  width: 13.25em;
  margin: auto; }

#sidebar-facebook iframe {
  margin: 0; }

#sidebar-book {
  text-align: center; }
  #sidebar-book a {
    color: white; }
  #sidebar-book img {
    max-width: 80%;
    margin-top: 15px; }

#book-image-container {
  width: 90%;
  margin: auto;
  position: relative; }

.book-image {
  width: 100%; }

#book-amazon-image {
  position: absolute;
  left: 0;
  width: 100%; }

/*
 * Global Styles
 */
.flex-wrapper {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }
  @media (max-width: 900px) {
    .flex-wrapper {
      flex-direction: column;
      -webkit-flex-direction: column; } }

.flex-content {
  flex: 3;
  padding-left: 25px;
  padding-top: 25px; }
  @media (max-width: 550px) {
    .flex-content {
      padding-left: 5px; } }

.flex-sidebar {
  flex: 1; }

/*
 * Styles for the Home Page
 */
main.content {
  font-size: 16px; }

.main-head {
  position: relative;
  display: table;
  width: 100%;
  height: 300px;
  text-align: center;
  background-size: cover;
  background-position: center; }
  .main-head .blog-title {
    font-family: "Open Sans",sans-serif;
    font-weight: 100;
    font-size: 10rem;
    margin: 10px auto; }
  .main-head .blog-description {
    font-family: "Open Sans",sans-serif;
    font-size: 20px; }

.main-sections {
  position: relative;
  font-family: "Open Sans",sans-serif; }

.site-head-content {
  color: #2f8cde; }

.define-header {
  margin-top: 10px;
  margin-bottom: 20px; }

.define-content {
  width: 80%;
  margin: auto;
  text-align: left;
  font-size: 16px;
  line-height: 1.75;
  max-width: 1000px; }
  .define-content a {
    color: white;
    text-decoration: underline; }

.sections-header, .define-header {
  letter-spacing: 2px;
  font-family: 'Ubuntu', sans-serif; }

.main-after-header {
  background-color: #2f8cde;
  text-align: center;
  padding-top: 15px;
  color: white;
  padding-bottom: 10px;
  font-family: "Open Sans",sans-serif; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 30px solid #2f8cde;
  margin: auto; }

#new-to-ghost {
  text-align: center;
  font-size: 18px;
  width: 150px; }

.start-here {
  position: absolute;
  margin-left: -270px;
  color: black;
  width: 250px;
  top: 18px; }
  .start-here img {
    width: 100px; }

.sections {
  text-align: center; }

.section-posts {
  text-align: left;
  width: 50%;
  margin: auto;
  color: white;
  margin-bottom: 50px; }

.section-post {
  padding: 10px 0 10px 10px;
  position: relative;
  color: white;
  background-color: #5E5E5E;
  margin-top: 5px; }
  .section-post:hover {
    background-color: #2f8cde;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear; }
  .section-post a:hover {
    text-decoration: none; }

.section-post-header {
  font-weight: 400;
  font-size: 20px;
  margin: 10px 0; }

.section-post-paragraph {
  margin: 0 10px 0 0;
  font-weight: 300;
  line-height: normal; }

.section-post-inside {
  padding: 0;
  border-top: 0;
  width: 90%; }

.section-post-image {
  height: 100%; }
  .section-post-image img {
    width: 60px; }

.define-header {
  margin-top: 10px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-family: 'Ubuntu', sans-serif; }

.define-content {
  width: 80%;
  margin: auto;
  text-align: left;
  font-size: 16px;
  line-height: 1.75;
  max-width: 1000px; }
  .define-content a {
    color: white;
    text-decoration: underline; }

.sections-header {
  letter-spacing: 2px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: 300; }

.main-after-header {
  background-color: #2f8cde;
  text-align: center;
  padding-top: 15px;
  color: white;
  padding-bottom: 10px;
  font-family: "Open Sans",sans-serif; }

/*
 * Post Styles
 */
.post-content p img {
  width: 70%;
  margin: auto; }

.post-content .full-img {
  width: 70%;
  margin: auto !important; }

.post-title {
  font-size: 48px;
  text-align: center;
  font-family: "Open Sans",sans-serif;
  font-weight: 400; }

.post-title-hr {
  margin-top: 10px; }

.post-menu {
  float: right;
  width: 220px;
  margin-top: 15px;
  background-color: #2f8cde;
  color: white;
  padding-bottom: 15px; }

.post {
  max-width: 800px;
  width: auto; }

.post-content .full-img {
  margin: 0;
  max-width: 100%; }

.post-content img {
  width: 70%; }

.theme-table-image {
  margin-bottom: 0; }

.theme-table-image a img {
  width: 100%; }

#sharing-icons {
  text-align: center;
  padding-bottom: 20px; }

#twitter-share-post, #facebook-share-post {
  height: 20px;
  display: inline-block; }

.next-post-flex {
  display: flex; }
  .next-post-flex .next-post-item {
    flex: 1;
    text-align: center; }
    .next-post-flex .next-post-item a {
      text-decoration: none; }
    .next-post-flex .next-post-item .hosting-links {
      padding: 10px;
      background-color: #5BA4E5;
      color: white;
      width: 50%;
      margin: auto; }

.post-next {
  width: auto;
  float: right;
  margin-bottom: 20px;
  background-color: #57A3E8; }

.post-next-inside p {
  float: right;
  vertical-align: middle;
  margin: 0;
  padding-left: 10px;
  color: white; }

.post-next-img {
  width: auto; }
  .post-next-img img {
    width: 40px;
    float: right; }

/*
 * Styles for Pages
 */
.page-title {
  margin: 25px 0 50px 0; }

/*
 * Error Page Styles
 */
.error-page {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
