/*
 * Styles for the GFB Beginners  Page
 */

.beginners-link {
    text-decoration: none;
    margin: 15px;
    .beginners-images {
        height: 150px;
        margin: 0 auto 10px;
        img {
        	margin: auto;
        }
    }
    .hosting-title {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        height: 60px;
    }
    .hosting-desc {
    	// font-size: 2rem;
        font-family: "Open Sans", sans-serif;
    }
}
