/*
 * Global Styles
 */

body {
	font-size: 1.7rem;
}

.flex-wrapper {
	display: flex;
	display: -webkit-flex;
  	justify-content: center;
  	-webkit-justify-content: center;
  	flex-wrap: wrap;
  	-webkit-flex-wrap: wrap;

  	@media (max-width: 800px) {
  		flex-direction: column;
  		-webkit-flex-direction: column;
  	}
}

.flex-content {
	flex: 3;
	-webkit-flex: 3;
	padding-left: 25px;
	max-width: 95%;

	@media (max-width: 550px) {
		padding-left: 5px;
	}

	img {
		max-width: 90%;
	}
}

.flex {
	display: flex;
	display: -webkit-flex;
}

.flex-vertical {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
}

.flex-one {
	flex: 1;
	-webkit-flex: 1;
}

.flex-center {
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
}

.center {
	text-align: center;
	margin: auto;
}