/*
 * Styles for the Home Page
 */

.home-content {
    margin-bottom: 25px;
}

.home-header {
    margin: 15px 0;
}

.home-section {
    margin-bottom: 30px;
}

.home-hr {
    border-top: 1px solid #273338;
    margin: 15px;
}

.home-popular-container {
    .home-popular-item {
        text-decoration: none;
        margin-bottom: 15px;
        .home-popular-img {
            height: 100px;
            margin-right: 10px;
            align-self: center;
            -webkit-align-self: center;
        }
        .home-popular-title {
            font-weight: 600;
            font-size: 18px;
        }
        .home-popular-meta {
            font-size: 16px;
            font-weight: 300;
            line-height: 1.5;
        }
    }
    @media (max-width: 1000px) {
        flex-direction: column;
        -webkit-flex-direction: column;
    }
}

.home-theme-item {
    text-decoration: none;
    .home-theme-img {
        margin: 0 auto;
    }
    .home-theme-title {
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
    }
    .home-theme-meta {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
    }
}

.home-recent-item {
    text-decoration: none;
    .home-recent-desc {
        margin: 15px;
        .home-recent-title {
            font-weight: 600;
            font-size: 18px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .home-recent-meta {
            font-size: 16px;
            font-weight: 300;
            line-height: 1.5;
        }
    }
}

.home-themes-container {
    @media (max-width: 600px) {
        flex-direction: column;
        -webkit-flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        a {
            margin-bottom: 15px;
            max-width: 80%;
            img {
                margin: auto;
            }
        }
    }
}

.home-articles-hosting {
    align-content: stretch;
    -webkit-align-content: stretch;
    align-items: stretch;
    -webkit-align-items: stretch;
    .home-articles-container,
    .home-hosting-container {
        max-width: 50%;
        @media (max-width: 1000px) {
            max-width: 80%;
        }
    }
    @media (max-width: 1000px) {
        flex-direction: column;
        -webkit-flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
    }
}

.home-hosting-container {
    // display: flex;
    flex: 1;
    // flex-direction: column;
    /* align-content: center; */
    /* align-items: center; */
    justify-content: center;
}

.home-hosting-hosts {
    margin: auto;
}

.home-hosting-item {
    text-decoration: none;
    .home-hosting-img {
        width: 70%;
        margin: auto;
        img {
            width: 100%;
        }
    }
    .home-hosting-header {
        margin: auto;
    }
    .home-hosting-meta {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
    }
}

.vertical-hr {
    border-left: 1px solid black;
    margin: 30px 15px 15px;
}
